  .header {
    padding: 5px;
    text-align: center;
    background: #5c6fff;
    margin:30px;
    font-size:20px;
  }

  h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .question {
    padding: 10px;
    text-align: center;
    background: #ecff45;
    margin:30px;
    margin-top: 20px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .answer {
    padding: 10px;
    text-align: center;
    background: #ef72ce;
    margin:30px;
    margin-top: -20px;
    font: size 15px;px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .table {
    padding: 10px;
    text-align: center;
    background: #ef72ce;
    margin:30px;
    margin-top: -20px;
    font: size 15px;px;
    font-family: Arial, Helvetica, sans-serif;

  }