.header {
  padding: 30px;
  text-align: center;
  background: #5c6fff;
  margin:30px;
  font-size:20px;
}

  h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  /* Chose yellow as box colour to provide contrast between website background gradient and text */
  .question {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: left;
    background: #ecff458e;
    margin:30px;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }

  .answer {
    padding: 20px;
    text-align: left;
    background: #ecff458e;
    margin: 30px;
    margin-top: -30px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    line-height: 1.4;
  }

  /* Used a flex container function for Back to Home button */
  .flex-container {
    display: flex;
    justify-content: center;
  }
  
  .flex-container > div {
    background-color: rgba(158, 255, 160, 0.75);
    margin-bottom: 30px;
    padding: 25px;
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .gif-container{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .gif-container > div {
    width: 200px;
    margin: 20px;
  }

  body {
    background-image: linear-gradient(to bottom, #edfdff, #d5f4fc, #bfe9fd, #aeddfe,
    #a3d0ff, #abccfe, #b3c9fc, #bbc5f9, #c9cdf4, #d5d5ef, #dfdeeb, #e7e7e7);
  }